-# app/views/blogs/show.html.haml

/ %h1 Blogs#show
/ %p Find me at app/views/blogs/show.html.haml

%h1= @blog.title
%p= @blog.summary

= render 'page_navigation'

%ul.no-margin
  - @posts.each do |post|
    %li.accent
      %hgroup
        %h4
          = link_to post.title, "/blog/posts/#{post.slug}"
        - unless post.subtitle.nil?
          %h5.subtitle= post.subtitle
      %p
        Posted
        = post.published_at.strftime("%A, %B %-d at %H:%M %Z")
        by
        - if post.author
          = ascii_escape post.author.name
        - else
          = lighten("(no author)")
      .post-preview
        = render 'blog_posts/contents', :post => post, :charlimit => 1000,
          :terminator => "... #{link_to "(Read More)", "/blog/#{post.slug}"}"
          
= render 'page_navigation'