-# app/views/blog_posts/_post_navigation.html

- blog ||= @blog
- post ||= @post
- first_post = post.first_post
- prev_post  = post.prev_post
- next_post  = post.next_post
- last_post  = post.last_post

%div
  %p.no-margin{ :style => "float: left; width: 35%;" }
    - if prev_post.nil?
      = lighten "First"
      |
      = lighten "Prev"
    - else
      = link_to "First", "/blog/posts/#{first_post.slug}"
      |
      = link_to "Prev", "/blog/posts/#{prev_post.slug}"
  %p.no-margin{ :style => "float: right; text-align: right; width: 35%;" }
    - if next_post.nil?
      = lighten "Next"
      |
      = lighten "Latest"
    - else
      = link_to "Next", "/blog/posts/#{next_post.slug}"
      |
      = link_to "Latest", "/blog/posts/#{last_post.slug}"
  %p.no-margin{ :style => "text-align: center;" }
    = link_to "Back to Blog", "/blog/"
  %br{ :style => "clear: both;" }