-# app/views/blog_posts/show.html.haml

/ %h1 BlogPosts#show
/ %p Find me at app/views/blog_posts/show.html.haml

%hgroup
  %h1.title= @post.title
  %h2.subtitle= @post.subtitle
%p= render "blog_posts/posted_at", :post => @post

= render mobile? ? 'post_navigation_mobile' : 'post_navigation'

= render 'contents', :charlimit => nil

= render mobile? ? 'post_navigation_mobile' : 'post_navigation'
