-# app/views/blog_posts/show.html.haml

/ %h1 BlogPosts#show
/ %p Find me at app/views/blog_posts/show.html.haml

%hgroup
  %h1.title= @blog.title
  %h2.title= @post.title
  %h3.subtitle= @post.subtitle
%p= render "blog_posts/posted_at", :post => @post

= render 'contents', :charlimit => nil

%p= link_to "Back to #{@blog.title}", "/blog", :class => :accent
