- content_for :javascripts do
  :javascript
    konami.code = function() {
      jQuery.colorbox({
        href: "#{new_user_path}"
      }); // end colorbox
    } // end anonymous function

/ %h1 Home#index
/ %p Find me in app/views/home/index.html.haml

%h1 About This Site

= render 'notices'

%p
  This site runs on
  #{link_to "Ruby on Rails", "http://rubyonrails.org/"}, which I recommend
  highly. The views are written in
  #{link_to "Haml", "http://haml-lang.com/"}
  and styled using
  #{link_to "Sass", "http://sass-lang.com/"},
  with a little
  #{link_to "Markdown", "http://daringfireball.net/projects/markdown/"}
  magic (powered by
  #{link_to "Redcarpet", "https://github.com/tanoku/redcarpet"}).
  For client-side scripting made easy, I'm using the excellent
  #{link_to "jQuery", "http://jquery.com/"}
  library.

%p
  This site also uses the
  = link_to "Solarized", "http://ethanschoonover.com/solarized"
  theme, by Ethan Schoonover.

%h2 About Sleeping King Studios  
%p
  You may be thinking that one designer on a laptop does not a
  &ldquo;studios&rdquo; make. You, sir or ma'am, are absolutely correct. But I
  like the name, so I'm keeping it.