-# app/views/admin/categories/new.html.haml

%h1 Categories#new
%p Find me in app/views/admin/categories/new.html.haml

%p= params.inspect

= render 'form'

%p= link_to "Back to Categories", admin_categories_path, :class => :apple

- content_for :page_footer do
  %p
    = link_to "Back to Home", "/index"
    = link_to "Back to Categories", admin_categories_path, :class => :apple
  %h5.tagline Hic Iacet Arthurus, Rex Quondam, Rexque Futuris
