-# app/views/categories/show.html.haml

/ %h1 Categories#show
/ %p Find me at app/views/categories/show.html.haml

%h1 Show Category
%p
  %strong Actions:
  = category_actions @category, :except => :show
  = link_to "Return to Categories", admin_categories_path, :class => :apple, :style => "float: right"

%h2 Category Information
%table
  %tbody
    %tr
      %th Category ID
      %td= @category.id
    %tr
      %th Parent Category
      %td= (parent = @category.parent).nil? ? lighten("(no parent)") : link_to(parent.title, admin_category_path(parent))
    %tr
      %th Title
      %td= (str = @category.title).empty? ? lighten("(no title)") : str
    %tr
      %th Short Name
      %td= (str = @category.slug).empty? ? lighten("(no title)") : str

%h2 Sub-Categories

%p= link_to "Create Category", { :action => :new, :controller => :categories, :category => { :parent_id => @category.id } }, :class => :apple

%p.no-margin
  There #{@category.children.count == 1 ? "is" : "are"}
  #{pluralize @category.children.count, "category"} under #{@category.title}.

- if @category.children.count > 0
  %ul
    - @category.children.each do |category|
      = nested_category_list_item(category)
- else
  %br
  
%h2 Articles

%p= link_to "Create Article", { :action => :new, :controller => :articles, :article => { :category_id => @category.id } }, :class => :apple

%p.no-margin
  There #{@category.articles.count == 1 ? "is" : "are"}
  #{pluralize @category.articles.count, "article"} under #{@category.title}.

= render 'admin/articles/list', :articles => @category.articles
  
%p= link_to "Back to Categories", admin_categories_path, :class => :apple

- content_for :page_footer do
  = render 'breadcrumbs'
