-# app/views/categories/show.html.haml

/ %h1 Categories#show
/ %p Find me at app/views/categories/show.html.haml

%h1 Show Category

= render 'notices'

%p= link_to "Update Category", nil, :class => :apple

%p
  %strong Title:
  = @category.title
  %br
  
  %strong Parent Category:
  = @category.parent ? link_to(@category.parent.title, @category.parent) : "None"

%h2 Sub-Categories
%p= link_to "Create Category", nil, :class => :apple
%p.no-margin
  There #{@category.children.count == 1 ? "is" : "are"}
  #{pluralize @category.children.count, "category"} under #{@category.title}.

- if @category.children.count > 0
  %ul
    - @category.children.each do |category|
      = nested_category_list_item(category)
- else
  %br
  
%h2 Articles
%p= link_to "Create Article", nil, :class => :apple
%p.no-margin
  There #{[].count == 1 ? "is" : "are"}
  #{pluralize [].count, "article"} under #{@category.title}.
- if [].count > 0
  %ul
    - [].each do |category|
      %li &nbsp;
- else
  %br
  
%p= link_to "Back to Categories", categories_path, :class => :apple

- content_for :page_footer do
  = render 'breadcrumbs'