!!! html
%html
  %head
    %title= Setting[:title]
    = stylesheet_link_tag :application
    = stylesheet_link_tag :themes
    = stylesheet_link_tag(mobile? ? :mobile : :desktop)
    = yield :stylesheets
    
    = javascript_include_tag :application
    :javascript
      jQuery(document).ready(function(){
        jQuery('.log-in-link').click(function(event){
          jQuery.colorbox({ href: '#{new_session_path}' });
          event.preventDefault();
        }); // end click
        
        jQuery("a.theme-link").click(function(event){
          var self = jQuery(this);
          
          event.preventDefault();
          event.stopPropagation();
          
          jQuery("body").removeClass("autumn starry-night").addClass(self.attr("data-theme"));
        }); // end click
      }); // end document.ready
      
    = yield :javascripts
    
    = csrf_meta_tags
    
  %body{ :class => "#{Setting[:"default-theme"]} #{mobile? ? :mobile : :desktop}" }
    #wrapper
      %header#page-header
        %h1= Setting[:title]
        
        %nav#primary-nav
          %ul
            = navigation_items :wrapper => {:tag => 'li', :class => 'accent'}
          
        = yield :page_header
      
      %section#main-section
        = render 'notices'
        
        = yield
        
      %nav#secondary-nav
        - unless mobile?
          %h2 Navigation
        
        %ul
          = navigation_items :wrapper => {:tag => 'li', :class => 'accent'}
        
        - unless mobile?
          %h4 Contact
        #navigation-contact
          %p.no-margin
            Email the author at:
            - unless mobile?
              %br
            :markdown
              <merlin@sleepingkingstudios.com>
        :javascript
          jQuery('#navigation-contact').find('.redcarpet').children('p').children('a').addClass('accent');
        
        / %h4 Set Theme
        / %ul
        /   %li.accent
        /     %a.theme-link{ :"data-theme" => "autumn", :href => "#" } Autumn
        /   %li.accent
        /     %a.theme-link{ :"data-theme" => "starry-night", :href => "#" } Starry Night
        
        - unless current_user.nil?
          %h3 Admin
          %ul
            %li.accent= link_to "Blogs", admin_blogs_path
            %li.accent= link_to "Tags", admin_tags_path
            %li.accent= link_to "Settings", admin_settings_path
            / %li.accent= link_to "Articles", admin_articles_path
            / %li.accent= link_to "Categories", admin_categories_path
            
          %p
            You are currently logged in as #{current_user.email}.
            %br
            = link_to "Log Out", session_path, :method => :delete, :class => :accent

      - if mobile?
        %footer#page-footer
          #footer-container
            - unless (content = (yield :page_footer)).empty?
              = content
            - else
              %p.tagline Hic Iacet Arthurus, Rex Quondam, Rexque Futuris
      - else
        %br{:style => "clear: both;"}
        
        #fake-footer &nbsp;
    
    - unless mobile?
      %footer#page-footer
        #footer-container
          - unless (content = (yield :page_footer)).empty?
            = content
          - else
            %h5.tagline Hic Iacet Arthurus, Rex Quondam, Rexque Futuris
        
        :javascript
          var height = jQuery('#page-footer').height();
          jQuery('#fake-footer').css('height', height + 'px');
          jQuery('#wrapper').css('margin-bottom', -height + 'px');
          // jQuery('#wrapper').css('background-attachment', 'fixed');
