!!! html
%html
  %head
    %title Sleeping King Studios
    = stylesheet_link_tag :application
    = stylesheet_link_tag(mobile? ? :mobile : :desktop)
    = yield :stylesheets
    
    = javascript_include_tag :application
    = yield :javascripts
    
    = csrf_meta_tags
    
  %body.day
    #wrapper
      %header#page-header
        %h1 Sleeping King Studios
      
      %section#main-section
        = yield
        
      %nav#primary-nav
        %h2 Navigation

      %br{:style => "clear: both;"}
    
      #fake-footer &nbsp;
    
    %footer#page-footer
      #footer-container
        - unless (content = (yield :page_footer)).empty?
          = content
        - else
          %h5.tagline Hic Iacet Arthurus, Rex Quondam, Rexque Futuris
    
    :javascript
      var height = jQuery('#page-footer').height();
      jQuery('#fake-footer').height(height);
      jQuery('#wrapper').css('margin-bottom', -height + 'px');
