!!! html
%html
  %head
    %title= Setting[:title]
    = stylesheet_link_tag :application
    = stylesheet_link_tag(mobile? ? :mobile : :desktop)
    = yield :stylesheets
    
    = javascript_include_tag :application
    :javascript
      jQuery(document).ready(function(){
        jQuery('.log-in-link').click(function(event){
          jQuery.colorbox({ href: '#{new_session_path}' });
          event.preventDefault();
        }); // end click
      }); // end document.ready
      
    = yield :javascripts
    
    = csrf_meta_tags
    
  %body.day
    #wrapper
      %header#page-header
        %h1= Setting[:title]
      
      %section#main-section
        = yield
        
      %nav#primary-nav
        %h2 Navigation
        
        %h3= link_to "Categories", categories_path
        %ul
          - Category.top_level.each do |category|
            %li.apple= link_to category.title, category
        
        %p
          - unless current_user.nil?
            %h3 Admin
            %ul
              %li.apple= link_to "Settings", admin_settings_path
            
            You are currently logged in as #{current_user.email}.
            %br
            = link_to "Log Out", session_path, :method => :delete, :class => :apple

      %br{:style => "clear: both;"}
    
      #fake-footer &nbsp;
    
    %footer#page-footer
      #footer-container
        - unless (content = (yield :page_footer)).empty?
          = content
        - else
          %h5.tagline Hic Iacet Arthurus, Rex Quondam, Rexque Futuris
    
    :javascript
      var height = jQuery('#page-footer').height();
      jQuery('#fake-footer').height(height);
      jQuery('#wrapper').css('margin-bottom', -height + 'px');
