!!! html
%html
  %head
    %title Sleeping King Studios
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tags
    
    - if @mobile_device
      = stylesheet_link_tag :mobile
    - else
      = stylesheet_link_tag :desktop
    
  %body.day
    #header
      %h1 Sleeping King Studios
      
    #body
      = yield
      
    #footer
